
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addAuthor</title>
</head>
<body>

    <div>
        <h2>Author Data</h2>
        <h3>Name</h3>
        <input type="text" name="name" value="" />
        <h3>Nationality</h3>
        <input type="text" name="nationality" value="" />
        <button>Add Author!</button>
    </div>

</body>
</html>
