@model AccademyLibrary.Models.Author
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Author</title>
</head>
<body>
    <header> Add Author</header>
    <main>
        <div class="form">
            @Html.LabelFor(a => a.Name)
            @Html.EditorFor(a => a.Name, new { htmlAttributes = new { @class = "inputBox", placeholder = "Author Name" } })

            @Html.LabelFor(a => a.Nationality)
            @Html.EditorFor(a => a.Nationality, new { htmlAttributes = new { @class = "inputBox", placeholder = "ISO code" } })

            <button class="btn">Add</button>

        </div>

    </main>
</body>
</html>
