<!DOCTYPE html>


<html lang="es">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>Accademy Library</h1>
            <div id="search-type">
                <i class="material-icons">search</i>
                <input id="topSearch" type="text" placeholder="Buscar..." name="" id="">
            </div>
            <div>
                <nav class="navList">
                    <a id="libro" class="item">Libro</a>
                    <a id="gditorial" class="item">Editorial</a>
                    <a id="genero" class="item">Género</a>
                    <a id="autor" class="item">Autor</a>
                </nav>

            </div>
            <button class="" id="navBar">navBar</button>

        </div>
    </header>

    <main>
        </div>
        <div>
            <br />
            <h2 id="sectionTitle">Libros</h2> <br />
            <section id="cardsContainer">
                <div class="card">
                    <img src="" alt="Alternate Text" />
                    <h2>Titulo</h2>
                    <span>Titulo <br /> Autor: Autor</span>

                </div>
        </div>


        </section>
    </main>
    @RenderBody()
    <footer>&copy; Copyleft - 2019</footer>
    <script src="~/Scripts/script.js"></script>
</body>
</html>