<!DOCTYPE html>


<html lang="es">
<head>
    <link rel="icon" href="~/Resources/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Accademy Library</title>
</head>
<body>
    <header>
        <div>
            <h1><p id="titulo">Accademy Library</p></h1>
            
            <div>
                <ul class="navList">
                    <li id="libro"class="item selected"><a  >Libro</a></li>
                    <li id="editorial"class="item"><a  >Editorial</a></li>
                    <li id="genero"class="item"><a  >Género</a></li>                    
                    <li id="autor"class="item"><a  >Autor</a></li>
                </ul>

            </div>
            <a class="material-icons" id="navHamb">menu</a>

        </div>
    </header>

    <main>
        <div>
            <div id="subNav">
                <h2 id="tituloSec">Titulo</h2>
                <div id="search-type">
                    <i class="material-icons">add</i>
                    <input id="topSearch" type="text" placeholder="Buscar..." name="">
                    <i class="material-icons">filter_list</i>
                </div>

            </div>
            <section id="cardsContainer">
                <div class="card">
                    <div class="card-top">
                        <h2>Cargando  . . .</h2>
                    </div>
                    <div class="card-main">

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </section>
        </div>
    </main>
    @RenderBody()
    <footer>&copy; Copyleft - 2019</footer>
    <script src="~/Scripts/script.js"></script>
</body>
</html>