@{
   Layout = null;
}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Accademy Library</h1>
        <button class="" id="navBar">navBar</button>

    </header>

    <main>
        <div class="sideBar">
            <div id="search-type">
                <i class="material-icons">
                    search
                </i>
                <input type="text" placeholder="Buscar..." name="" id="">
            </div>
            <div>
                <nav class="navList">
                    <a id="libro"class="item">Libro</a>
                    <a id="gditorial"class="item">Editorial</a>
                    <a id="genero"class="item">Género</a>
                    <a id="autor"class="item">Autor</a>
                </nav>

            </div>
        </div>
        <div>
            <br />
            <h2 id="sectionTitle">Libros</h2> <br />
            <section id="cardsContainer">
            <div class="card">
            <img src="" alt="Alternate Text" />
            <h2>Titulo</h2>
            <span>Titulo <br /> Autor: Autor</span>

            </div>
        </div>


        </section>
    </main>
    <footer>&copy; Copyleft - 2019</footer>
    <script src="~/Scripts/script.js"></script>
</body>
</html>