@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #8E4F76;
    --secondary-color: #F3EFE9;
    --third-color: #F0B4B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Helvetica;
    background-color:var(--secondary-color)
}

#navHamb{
    display:none;
}

header > div {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .5rem 3rem;
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}

#titulo:hover{
    cursor:pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 3rem 1.5rem 2rem 1.5rem;
}

main>div{
    width:100%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#subNav{
    display:flex;
    justify-content:center;
    align-content:center;
    text-align:center;
    height:30px;
    align-self:center;
}

#tituloSec{
    position:absolute;
    top:60px;
}

.sectionTitle{
    align-self:center;
    height:30px;
    padding-top:20px;
}

button {
    display: none;
}


.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    background-color:var(--primary-color);
    position:fixed;
    height:84vh;
    width:70vw;
    z-index:15;
    top:50px;
    right:0;
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchType{
    width: 40vw;
    padding:0 1rem;
    text-align:center;
    align-items:center;
}

i {
    color: var(--primary-color);
    position: relative;
    background-color: transparent;
    top:5px;
    margin:0 1rem;
}

input {
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: rgba(255,255,255,.8);
    padding: 0 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width:250px;
    text-align:center;
    top:0;
}

.item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin: 0 0 0 1rem;
    background-color: rgba(255,255,255,.8);
}
#cardsContainer{
    
    padding:2rem 0 0 0 ;
}
.card {
    position:relative;
    overflow: hidden;
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    margin: 8px;
    transition: all 0.3s ease;
    background-color:whitesmoke;
    z-index:0;
}

.cardImg{
    position:relative;
    align-self:center;
    left:30px;
    height:110px;
}

.card-main{
    height:80px;
    overflow:hidden;
    width:155px;
    margin-left:15px;
    font-size:14px;
}
.card-footer{
    padding-left:.5rem;

}
.cardButton{
    position:relative;
    display:inline-block;
    color:whitesmoke;
    cursor:pointer;
    flex-direction:row-reverse;
    background-color:var(--primary-color);
    text-decoration:none;
    margin-left:.5rem;
    padding: 6px 15px;
    border-radius:3px;
    z-index:200;
}

.modal{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,.3);
    z-index:100;
    opacity:0;
    visibility:hidden;
}

.modalBox {
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: whitesmoke;
    padding: 1rem 1.5rem;
    width: 40%;
    border-radius: 0.5rem;    
    transform: scale(1.1); /*sabe.io*/
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; /*sabe.io*/
}
#modalHead{
    padding: 0 0 1rem 0;
}

#modalBody > span {
    font-weight:300;
}

#modalBody > span > p{
    margin-left:4rem;
}

#modalFoot{
    position:relative;
    margin-top:1rem;
    left:40px;
}

#modalFoot > div > a, .modalBtn {
    color:var(--primary-color);
    background-color: whitesmoke;

}

#modalFoot > div > a:hover, .modalBtn:hover{
    
    cursor:pointer;
    background-color:lightgray;
    
}

#cerrarModal {
    position: relative;
    top: -.5rem;
    right: -.5rem;
    float: right;
    border-radius:3px;
    padding:.1rem .5rem;
    background-color:lightgray;
    text-align:center;
}
.showModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
#cerrarModal:hover{
    background-color:gray;
    cursor:pointer;
}


body > footer {
    display: flex;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: .5rem 1rem;
    z-index: 20;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}

li:hover,.selected {
    color: white;
    background-size: cover;
    color:black;
    background-color: var(--third-color);
    border-width:1px;
    border-style:solid;
    border-color: rgba(0,0,0,.5);
}

li:active, .cardButton:active {
    transform: translateY(2px);
}

@media only screen and (max-width: 768px) {

    body > header > div{
        height:40px;
    }
    h1{
        font-size:25px;
    }
    .modalBox{
        left:10%;
        width:80%;
    }
    .item {
        font-size:12px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: black;
        padding: .5rem 1rem;
        border-radius: 4px;
        margin: 0 0 0 1rem;
        background-color: rgba(255,255,255,.8);
    }
    body>footer{
        position:relative;
        bottom:0;
    }
}

#sideNav{
    display:flex;
    flex-direction:row;
}

@media only screen and (max-width: 600px) {
  
    h1 {
        font-size: 25px;
    }
    .navList{
        display:none;
    }
    #navHamb {
        display: inline;
        color: rgba(255,255,255,1);
        text-decoration:none;
        background-color:rgba(0,0,0,.3);
        border-radius:3px;
        cursor:pointer;
        right:0;
    }
    #agregarIcon, #filtarIcon {
        position: fixed;
    }
    body > footer {
        display:none;
    }
}