@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #8E4F76;
    --secondary-color: #F3EFE9;
    --third-color: #F0B4B2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Helvetica;
    background-color:var(--secondary-color)
}

#navHamb{
    display:none;
}

header > div {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .5rem 3rem;
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}

#titulo:hover{
    cursor:pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 3rem 2rem 2rem 2rem;
}

main>div{
    width:90vw;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#subNav{
    display:flex;
    justify-content:center;
    align-content:center;
    text-align:center;
    height:30px;
    align-self:center;
}

#tituloSec{
    position:absolute;
    top:60px;
}

.sectionTitle{
    align-self:center;
    height:30px;
    padding-top:20px;
}

button {
    display: none;
}

.sideBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchType{
    width: 40vw;
    padding:0 1rem;
    text-align:center;
    align-items:center;
}

i {
    color: var(--primary-color);
    position: relative;
    background-color: transparent;
    top:5px;
    margin:0 1rem;
}

input {
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: rgba(255,255,255,.8);
    padding: 0 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width:250px;
    text-align:center;
    top:0;
}

.item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin: 0 0 0 1rem;
    background-color: rgba(255,255,255,.8);
}
#cardsContainer{
    width:94vw;
    padding:2rem 0 0 0 ;
}
.card {
    overflow: hidden;
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    margin: 8px;
    transition: all 0.3s ease;
    background-color:whitesmoke;
}

.cardImg{
    position:relative;
    align-self:center;
    left:30px;
    height:110px;
}

.card-main{
    height:80px;
    overflow:hidden;
    width:155px;
    margin-left:15px;
    font-size:14px;
}
.card-footer{
    padding-left:.5rem;

}
.cardButton{
    position:relative;
    display:inline-block;
    color:whitesmoke;
    flex-direction:row-reverse;
    background-color:var(--primary-color);
    text-decoration:none;
    margin-left:.5rem;
    padding: 6px 15px;
    border-radius:3px;
}

body > footer {
    display: flex;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 20;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}

li:hover,.selected {
    color: white;
    background-size: cover;
    color:black;
    background-color: var(--third-color);
    border-width:1px;
    border-style:solid;
    border-color: rgba(0,0,0,.5);
}

li:active, .cardButton:active {
    transform: translateY(2px);
}

@media only screen and (max-width: 768px) {

    body > h1{
        line-height: 1px;
    }
    #titulo{

        font-size:21px;
    }
    .item {
        font-size:12px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: black;
        padding: .5rem 1rem;
        border-radius: 4px;
        margin: 0 0 0 1rem;
        background-color: rgba(255,255,255,.8);
    }
}

@media only screen and (max-width: 600px) {
    body > h1 {
        line-height: 1px;
    }

    #titulo {
        font-size: 21px;
    }

    .item {
        display:none;
        
    }
    #navHamb {
        display: inline;
        background-color: rgba(255,255,255,.5);
        text-decoration:none;
        color:black;
    }
}