@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #249099;
    --secondary-color: #31BFCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Helvetica;
}


header > div {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .5rem 3rem;
    color: white;
    background-color: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}

    header > div > h1 {
        padding-right: 8rem;
    }

main {
    display: flex;
    flex-wrap: row;
    height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

main > div > h2 {
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
}

button {
    display: none;
}

.sideBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
}


i {
    color: var(--primary-color);
    position: relative;
    top: 32px;
    left: 3px;
    background-color: transparent;
}

input {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 0 0 0 2rem;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,.8);
}

.item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
    margin: 0 0 0 1rem;
    background-color: rgba(255,255,255,.8);
}

.card {
    overflow: hidden;
    width: 200px;
    height: 250px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 0 6px;
    margin: 8px;
}




body > footer {
    display: flex;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 20;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}

a:hover {
    color: white;
    background-size: cover;
    background-color: var(--primary-color);
}

a:active {
    transform: translateY(4px);
}
