@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans+JP|Open+Sans&display=swap');
:root{
    --primary-color: #249099;
    --secondary-color:#31BFCC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP', 'Dosis', 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    align-items: center;    
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}

main{
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    height: 100%;
}

button{
   display: none;
}

.form{
    position: relative;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#search-type{
    
}
#action-type{
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 100%;
}
i {
    position: relative;
    right: 40px;
    background-color:transparent;
    top: 8px;
}

select{ 
    min-width: 120px;
    height: 3rem;
    padding: 0 0 0 10px ;
    font-family: inherit;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-appearance: none;
    appearance: none;
    align-self: center;
}
input{
    height: 3rem;
    width: 60%;
    border: none;
    border-radius: 3px;
    padding: 0 0 0 1rem;
    background-color: rgba(255,255,255,.8);
}

.item{
    display: inline-block;
    padding: .4rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

body > footer{
    display: flex;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem 1rem;
    z-index: -999999;
}

a:hover{
    color: white;
    background-color: var(--primary-color);
    border-radius: 15px;
}
a:active{
        transform: translateY(4px);
}


